# .env

# Refer to README for setup help.

# Discord-related config items.
DISCORD_TOKEN=<Your Bot Token Here>
DISCORD_GUILD_ID=<Your Server Guild ID Here>

# School-specific config items.
SCHOOL_NAME=<School Name Here>
SCHOOL_JUDGES=<Judge List, Comma-Separated Here>

